button {
  width:100%;
  border: solid 2px #333;
  border-radius: 40px;
  padding:0px;
  margin-top: 20px;
}
h1 {
  margin: 0px;
  padding-top: 50px;
}
button[disabled] > div {
  background-color:#333;
  color:salmon;
}
.button {
  height:30vh;
    border-radius: 40px;
}
.button:active {
  background-color:black;
}
.first-button {
  background-color: crimson;
}

.second-button {
  background-color: #ede140;
}
.third-button {
  background-color: #13c42e;
}
