a, button {
  width:100%;
  min-height:300px;
}
.first-button, .second-button, .third-button {
  min-height: 300px;
  border: solid 2px #333;
  border-radius: 40px;
}
.first-button {
  background-color: crimson;
}
.second-button {
  background-color: #ede140;
}
.third-button {
  background-color: #13c42e;
}
